*{
  margin:0;
  padding:0;
  text-decoration: none;
  /* height: fit-content; */
  /* overflow-x: auto; */
}
body{
  overflow: hidden;
}

main{
  width: fit-content;
  padding: 20px;
}
.navbar{
  height: 65px;
  display: block;
}
/* .deshbord{

  margin-top: 40px;
  display: flex;
  width: 100vmax;
  height: 1000px;
  border: 2px solid red;
} */

.sidebar {
  position: absolute;
  top: 64px;
  height: 100vh;
  /* width: 30%; */
  float: left;
  overflow-y: auto;
  background-color:#000;
}

.main-content {
  position: absolute;
  margin: 0;
  top: 64px;
  height: 100dvh;
  
  float: left;
  overflow-y: auto;
  background-color: white;
}

.content {
  height: 100dvh;
  display: flex;

  flex-direction:column;
  font-size: 3em;
}


/* .sidebar{
  float: left;
  overflow-y: scroll;
  
  float: left;
  background: #000;
  padding-top: 20px;
  color: #fff;
  height: 100dvh;
  width: 200px;
  transition: all 0.5s;
}
.dashbor-element{
  width: 70%;
  float: left;
  overflow-y: scroll;

}
.content {
  height: 500vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
} */
.top_section{
  display: flex;
  align-items:center;
}
.logo{
  font-size: 30px;
  margin-right: 15px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:rgb(150, 199, 229);
  color: #000;
  transition: all 0.5s;
}
.active{
  background: rgb(100, 172, 216);
  color: #000;
}
.icon, .link_text{
  font-size: 15px;
}
.cursor-pointer{
  cursor: pointer;
}
.PhoneConten{
  overflow-y: scroll;
}
.pacount{
  /* display: none; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 46px;
  height: 10px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
  .bars{
    display: none;
  }
  /* .mNavbar{
    width: 100dvw;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .logo{
    height: 40px;
    margin-top: 0;
    margin-left: 5px;
  }
  .main-content{
    width: 100dvw;
    top: 50px;
  }
  .content{
    background-color:white;

    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    align-items: center;
    /* align-content: flex-start; */
    /* background-color: red; */
    width: 100dvw;
    height: 45px;
    overflow: hidden;
    flex-direction: row;
    
  }
  .content-item{
    
    /* background-color: aqua; */
    width: 50px;
    height: 45px;

    
  }
  .link{
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* overflow: auto; */
    /* background-color: aquamarine; */
    flex-direction: column;
    width: 45px;
    height: 40px;
  }
  .icon{
    font-size: 15px;
    width: 18px;
    height: 0;
    color: black;
    background-color: #000;
    margin-bottom: 5px;
    /* background-color: yellowgreen; */

  }
  .link_text{
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
    font-size: 12px;
    width: 80px;
    height: 18px;
    /* background-color: rgb(50, 148, 205); */
  }
  .link:hover{
    background-color: #9e9c9c;
  }
  .active{
    /* background: rgb(100, 172, 216); */
    background-color: white;
  }
  .active:hover{
    /* background: rgb(100, 172, 216); */
    background-color: white;
  }
  .active div{
    /* background: rgb(100, 172, 216); */
    color: #df0707;
  }
}
@media only screen and (max-width: 767px){
  .navbar{
    display: flex;
    /* justify-content: space-between; */
  }
  .serch-div{
    float: right;
  }
  .bars,.search-wr,.acount,.serch-div{
    display: none;
  }
  .nav-right-div{
    display: flex;
    position: absolute;
    right: 10px;
  }

  .pacount-togolebtn{
    display: block;
    color: #fff;
    font-size: 30px;
  }
  .pacount-Option{
    /* border: 2px solid #25ad25; */
    background-color: #249f66a3;
  
    position: absolute;
    top: 65px;
    /* right: 17px; */
    /* margin-right: 60px; */
    width: 100dvw;
    /* justify-content: flex-end; */
    align-items: flex-end;
    height: 80px;
  }
  .search-wr{
    padding-left: 6px;
    display: inline-block;
    color: #000;
    width: 260px;
    height: 37px;
    border: #fff solid 1px;
    border-radius: 5px;
    margin-right:5px;
    background-color: white;
  }
  .psearch-ico{
    margin-right: 8px;
    color: white;
  }
  /* .mNavbar{
    width: 100dvw;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .logo{
    height: 40px;
    margin-top: 0;
    margin-left: 5px;
  }
  .main-content{
    width: 100dvw;
    top: 50px;
  }
  
  .content{
    background-color:white;

    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    align-items: center;
    /* align-content: flex-start; */
    /* background-color: red; */
    width: 100dvw;
    height: 45px;
    overflow: hidden;
    flex-direction: row;
    
  }
  .content-item{
    
    /* background-color: aqua; */
    width: 50px;
    height: 45px;

    
  }
  .link{
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* overflow: auto; */
    /* background-color: aquamarine; */
    flex-direction: column;
    width: 45px;
    height: 40px;
  }
  .icon{
    font-size: 15px;
    width: 18px;
    height: 0;
    color: black;
    background-color: #000;
    margin-bottom: 5px;
    /* background-color: yellowgreen; */

  }
  .link_text{
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
    font-size: 12px;
    width: 80px;
    height: 18px;
    /* background-color: rgb(50, 148, 205); */
  }
  .link:hover{
    background-color: #9e9c9c;
  }
  .active{
    /* background: rgb(100, 172, 216); */
    background-color: white;
  }
  .active:hover{
    /* background: rgb(100, 172, 216); */
    background-color: white;
  }
  .active div{
    /* background: rgb(100, 172, 216); */
    color: #df0707;
  }

}