.display-flex{
    display: flex;


}
.fex-direc-col{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-items-center{
align-items: center;
}
.flot-right{
    float: right;
}
.display-none{
    display: none;
}
.vertical-line{
    border-left:1px solid rgb(63, 62, 62);
    margin-left: 5px;
    margin-right: 5px;

}