.videopage-body{
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(229, 8, 163); */
    margin: 0;
    
    /* overflow-y: auto; */
}

/*  */
.play-video-div{
position: relative;
/* border: 1px solid green; */
width: 70%;
max-width:1000px;
/* height:80% ; */
display: flex;
justify-content: center;
/* margin-inline: auto; */
}
.play-video-div.thearter{
    max-width: initial;
    width: 100%;
    max-height: 80vh;
}
.play-video-div.fullscreen{
    max-width: initial;
    width: 100%;
    height: 90vh;
}


#VideoPlaying{
width: 100%;
/* border: 10px solid green; */
/* height: 65dvh; */
background: black;
/* cursor: pointer; */
border-radius: 10px;
/* background-color: black; */
  
}
/* Contorl bars CSS */
.contrl-bars-div{
    /* display: flex; */
 /* justify-content:center ;  */
     align-items: center;
    /* border: 1px solid rgb(4, 0, 128); */
    /* height: 60px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    /* cursor: pointer; */
    background: transparent;
    /* background-color: rgb(48, 47, 47); */
}
.contrl-bars-div::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background:linear-gradient(to top,rgb(0,0,0,.75));
    aspect-ratio: 6/1;
    z-index: -1;
    pointer-events: none;
    
}
.play-video-div:hover .contrl-bars-div,
.play-video-div:focus-within .contrl-bars-div,
.play-video-div.paused .contrl-bars-div
{
    opacity: 1;
}

.contrl-bars-div .controls{
    
display: flex;
gap: .5rem;
padding: .25rem;
align-items: center;
}
.contrl-bars-div .controls button{
    background: none;
    border: none;  
    color: rgb(141, 222, 243);
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 200ms ease-in-out;
}
.contrl-bars-div .controls button:hover{
    opacity: 1;
}
.play-video-div.paused .pause-icon{
    display: none;
}
.play-video-div:not(.paused) .play-icon{
    display: none;
}



.videoPage_downSection{
    width: 100%;
    height: 500px;
    border: 2px solid red;
}
.play-video-div.thearter .tall-ico{
    display: none;
}
.play-video-div:not(.thearter ) .wide-ico{
    display: none;
}
.play-video-div.fullScreen .wide-ico,
.play-video-div.fullScreen .tall-ico,
.play-video-div.fullScreen .full-sc-icon{
    display: none;
}
.play-video-div:not(.fullScreen) .exit-full-sc-icon{
    display: none;
}

.play-video-div .volume-high-icon,
.play-video-div .volume-down-icon,
.play-video-div .volume-muted-icon
{
    display: none;
}
.play-video-div[data-volume-level='high'] .volume-high-icon{
    display: block;
}
.play-video-div[data-volume-level='down'] .volume-down-icon{
    display: block;
}
.play-video-div[data-volume-level='muted'] .volume-muted-icon{
    display: block;
}
.volume-div{
    display: flex;
    align-items: center;
}
.volume-slider{
    width: 0;
    transform-origin:left ;
    transform: scaleX(0);
    transition: width 200ms ease-in-out,transform 200ms ease-in-out;

}
.volume-div:hover .volume-slider,
.volume-slider:focus-within
{
    width: 100px;
    transform: scaleX(1);
}
.duration-div{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    gap: .25rem;
    /* border: 1px solid rebeccapurple; */
}
.contorlrsbar-right{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}
.play-video-div.caption .caption-icon{
    border-bottom: 3px solid red;
}
.play-video-div .controls button.playback-speed-btn{
    /* border: 3px solid red; */
    text-align: center;
    width: 50px;
    font-size: medium;
    
}

.timeline-controlers{
  /* border: 2px solid red; */
    height: 7px;
    /* width: 100%; */
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timline{
    /* display: block; */
    height: 3px;
    width: 100%;
    position: relative;

    background-color: rgba(244, 241, 241, 0.5);
}
.timline::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - var(--privew-postion)*100%);
    background-color: rgb(202, 201, 201);
display: none;

}
.timline::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - var(--progress-postion)*100%);
    background-color: red;
}
.timline .thumb-indecater{
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top:-50%;    
    left:calc( var(--progress-postion)*100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1/1;
}
.timeline-controlers:hover .timline::before{
    display: block;
}
.timeline-controlers:hover .timline{
 
    height: 100%;
}
.timeline-controlers:hover .thumb-indecater{
    --scale:1;
}
  